/* Importing Google Fonts - Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

/* Custom CSS Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f7f6bb;
}

input {
  border: 1px solid #686868;
  border-radius: 10px;
}

#root {
  width: 100%;
  padding: 0 0.6rem;
}

.login-container {
  max-width: 410px;
  margin: 0 auto;
  border-radius: 0.5rem;
  padding: 2rem 1.5rem;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.login-container .form-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.8rem;
}

.login-form .input-wrapper {
  height: 54px;
  width: 100%;
  margin-bottom: 1.5rem;
  position: relative;
}

.login-form .input-wrapper .input-field {
  height: 100%;
  width: 100%;
  border-radius: 1px solid #bfb3f2;
  padding: 0 1.25rem 0 3.12rem;
  transition: 0.2s ease;
}

.login-form .input-wrapper .input-field:focus {
  border-color: #e0c52d;
}

.login-form .input-wrapper .input-field::placeholder {
  color: #e0c52d;
}

.login-form .input-wrapper span {
  color: #413702;
  position: absolute;
  top: 50%;
  left: 0.9rem;
  pointer-events: none;
  transform: translateY(-50%);
}

.login-form .login-button {
  width: 100%;
  height: 50px;
  cursor: pointer;
  outline: none;
  font-size: 1.125rem;
  color: #ffffff;
  font-weight: 500;
  border-radius: 0.3rem;
  background: #3e5f1b;
  transition: 0.2s ease;
}

.login-form .login-button:hover {
  background: #2e3e13;
}
