/* Importing Google Fonts - Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@import "tailwindcss/preflight" layer(base);
@import "tailwindcss/utilities" layer(utilities);

/* Custom CSS Styles */
@layer base {
  :root {
    /* Light mode - Blue-tinted whites */
    --bg-header: rgba(255, 255, 255, 0.8);
    --bg-main: linear-gradient(to bottom right, #e2e8f0, #dbeafe, #e0e7ff);
    --bg-card: rgba(248, 250, 252, 0.9);
    --bg-button: #93c5fd;
    --bg-button-hover: #adc0d8;
    --bg-button-logout: #df3838;
    --bg-button-logout-hover: #f79090;

    --text-primary: #334155;
    --text-secondary: #64748b;
    --text-white: #1e293b;

    --border-color: rgba(226, 232, 240, 0.5);
    --backdrop-blur: blur(12px);
  }

  .dark {
    /* Dark mode - Blue-tinted grays */
    --bg-header: rgba(15, 23, 42, 0.8);
    --bg-main: linear-gradient(to bottom right, #0f172a, #1e293b, #334155);
    --bg-card: rgba(30, 41, 59, 0.9);
    --bg-button: #1e3a8a;
    --bg-button-hover: #314769;
    --bg-button-logout: #b42626;
    --bg-button-logout-hover: #6d2d2d;

    --text-primary: #e2e8f0;
    --text-secondary: #94a3b8;
    --text-white: #f8fafc;

    --border-color: rgba(51, 65, 85, 0.5);
    --backdrop-blur: blur(12px);
  }
}

@layer utilities {
  .bg-header {
    background-color: var(--bg-header);
    backdrop-filter: var(--backdrop-blur);
  }

  .bg-main-gradient {
    background: var(--bg-main);
  }

  .bg-card {
    background-color: var(--bg-card);
  }

  .bg-btn-primary {
    background-color: var(--bg-button);
  }

  .bg-btn-primary:hover {
    background-color: var(--bg-button-hover);
  }

  .bg-btn-logout {
    background-color: var(--bg-button-logout);
  }

  .bg-btn-logout:hover {
    background: var(--bg-button-logout-hover);
  }

  .text-primary {
    color: var(--text-primary);
  }

  .text-secondary {
    color: var(--text-secondary);
  }

  .text-contrast {
    color: var(--text-white);
  }

  .border-custom {
    border-color: var(--border-color);
  }
}
